
body{

  margin:0;
  text-align:center;
  padding-top: 100px;
  background-color: lightcyan;
 font-family: 'Montserrat', sans-serif;
}
h1{
   margin: 50px auto 0 auto;
   font-family: 'Sacramento', cursive;
   font-size:5.625rem;    /* NOTE:- 16px=100%=1em=1rem */
   color:#66BFBF;

}
h2{

  font-family: 'Merriweather', serif;
  font-size: 2.5rem;    /* NOTE:- 16px=100%=1em=1rem */
  color:#66BFBF;
}
h3{
  color:#11999E;

}
.top-container{

  position:relative;

}

.bottom-container{
  margin: 50px 20px 50px 20px;
  
}

.skill-row{
  width: 50%;
  margin:100px auto 50px auto;
  text-align: left;
}

.bottom-cloud{
  position: absolute;
}
.top-cloud{
  position:relative;
  left:200px;
}
.anu{
  height:150px;
  padding:20px;
}
.computer{
  height:90px;
  padding:12px;
  width: 20%;
  float:left;
  margin: 20px;
}
.chess{
  height:90px;
  padding:12px;
  width:20%;
  float: right;
  margin: 8px 20px;
}
.contact-me{
  margin-top: 80px 20px;
}
.contact-message{
  margin:40px auto 60px auto;
}
.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Merriweather', serif;
  color: #ffffff;
  font-size: 20px;
  background: #3934d9;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3ca1fa;
  text-decoration: none;
}
